---
title: Introduction
navbar_title: Intro
navbar_icon: home
---
<p class="lead">My name is Matthew.</p>

<ul class="quick-facts fa-ul">
  <li>
    <%= licon :home %>
    I live in (and &hearts;) Raleigh, North Carolina.<br>
    (I grew up farther west in NC, around High Point.)
  </li>
  <li>
    <%= licon :graduation_cap %>
    I study Computer Science at <a href="http://ncsu.edu">NC State University</a>.<br>
    (I graduate in May 2015!)
  </li>
</ul>

<ul class="quick-facts fa-ul">
  <li>
    <%= licon :laptop %>
    I program computers.<br>
    (I'm pretty good at it, but it frustrates me a lot.)
  </li>
  <li>
    <%= licon :group %>
    I teach people about computers and programming.<br>
    (I like this more than actual programming.)
  </li>
  <li>
    <%= licon :bus %>
    I love public transit, and cities in general.<br>
    (I want to be a transit planner someday.)
  </li>
</ul>

<ul class="quick-facts fa-ul">
  <li>
    <%= licon "✝" %>
    I serve with <a href="http://www.graceatstate.org/">Grace Community Church</a>.<br>
    (I lead a Bible study, share the Gospel,<br>
    and assist with worship services behind the scenes.)
  </li>
  <li>
    <%= licon :heart %>
    I care deeply about sound theology, social justice, and free software.<br>
    (I believe you <em>can</em> have all three at once.)
  </li>
</ul>

<ul class="quick-facts fa-ul">
  <li>
    <%= licon :bicycle %>
    I like to cycle. (But I'm not very good at it.)
  </li>
  <li>
    <%= licon :cube %>
    I enjoy playing games. (Computer, board, or card.)
  </li>
  <li>
    <%= licon :microphone %>
    I can rap. (I don't have any music of my own though.)
  </li>
</ul>

